@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=Raleway:wght@100;300;400;600;700&display=swap');


@media (min-width: 412px) and (min-height: 824px) {
  div.ui.raised.segment.HomeSegment,
  div.ui.segment.HomeSegment,
  div.ui.segment.fade.HomeSegment.visible.transition {
    margin: auto;
    padding: 0 40vw 0 20vw;
    border: none;
    box-shadow: none;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    text-align: start;
  }

  .bigboldtext {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 5em;
    color: #222329;
    margin: 0.5vh 0 1vh -0.5vh;
  }
  
  .bigboldsubtext {
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    font-size: 4em;
    margin: 0 0 3vh 0;
    color: #394045;
  }
  
  .homegreytext {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 1.17em;
    color: #222629;
    margin: 0 3vw 0 0.15vw;
  }
  
  p.homeSpecialColor {
    font-family: 'IBM Plex Mono';
    font-weight: 200;
    color: #727f8a;
    margin: 0 3vw 0 0.15vw;
    display: flex;
    justify-self: center;
    text-align: center;
  }
  
  .ui.red.button.HomeButton:focus {
    margin-left: 0em;
  }
  


  p.greytext {
    font-size: 1rem;
  }

  div.HomeButton {
    display: inline-block;
    margin: 0 1vw 0 0;
  }

  div.ui.segment.HomeButtonSegment {
    width: 30vw;
    display: 'inline-block';
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  div.HomeButtonDiv {
    width: 10vw;
    margin: 5vh 2vw 0 0;
    display: inline-block;
  }

  button.ui.red.basic.button.HomeButton {
    margin: 0;
  }
  
}


/*############################################################################
####################  Mobile Size  ###########################################
#############################################################################*/

@media (max-width: 412px) and (max-height: 830px) {
  div.ui.segment.fade.HomeSegment.visible.transition {
    width: 85%;
    margin: 0px 0;
    padding: 0 0 0 2rem;
    text-align: justify;
    justify-content: flex-start;
    align-items: center;
    border: none;
    box-shadow: none;
  }


  div.homecontent {
    width: 100%

  }

  .bigboldtext {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: 2em;
    color: #222329;
    margin: 0.5vh 0 1vh -0.5vh;
  }

  .bigboldsubtext {
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    font-size: 1em;
    margin: 0 0 3vh 0;
    color: #394045;
  }


    
  .homegreytext {
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 1.17em;
    color: #222629;
    margin: 0 3vw 0 0.15vw;
  }

  p.greytext {
    font-size: .8rem;
    text-align: justify;
    margin: 0;
  }


  div.ui.segment.HomeButtonSegment {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    justify-content: flex-start;
    align-items: center;
  }

  div.HomeButton {
    display: flex;
    margin: 0;
  }

  button.ui.red.basic.button.HomeButton,
  .ui.red.button:focus {
    margin-left: 0;
  }

  div.HomeButtonDiv {
    margin: 0 0 0 0;
    padding: 1rem 0 0 0;
    display: flex;

  }

}
